/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
.top-bar{
  background: #7aaec4;
  height: 2.8rem;
  padding: 0.5rem 0;
}
.top-bar a{
  color: #fff;
  text-decoration: none;
}

/*============= NAVIGATION =============*/
.navbar-brand img{
  height: 3rem;
}
.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 1;
}
.nav-item{
  padding: .5rem;
}
.nav-link{
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}

/*============= CAROUSEL =============*/
#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1)
}
.s-carousel img{
  width: 100%;
  height: 550px;
}
carousel-inner{
  max-height: 30rem!important;
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease; 
}
/*.s-title{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
/*-- Carousel Content --*/
.carousel-caption{
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom{
  background: rgba(0, 0, 0, .4);
  color: #fff;
  border-radius: 1rem;
}
.carousel-caption h1{
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.border-primary{
  border-top: .2rem solid #4981b3!important;
}
.carousel-caption h3{
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
.btn-lg{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger{
  background: #AC2615;
  border-width: .05rem solid #AC2615; 
}
.btn-primary{
  background: #4981b3;
  border-width: .05rem solid #4981b3; 
}
.btn-primary:hover,
.btn-primary:focus{
  background: #68a0d2!important;
  border-width: .05rem solid #68a0d2!important; 
}
/*===== FIXED BACKGROUND IMG =====*/
.fixed{
  background-image: url(../img/matrix.jpg);
  position: fixed;
}
.fixed-background{
  padding: 10rem 0;
}

/*-- Emoji Navbar --*/
.emoji {
  background-image: linear-gradient(to right, #4981b3, #AC2615);
  min-height: 0!important;
  padding: .4rem 0!important;
}
.emoji .svg-inline--fa{
  margin: 0 auto;
  color: #fff;
  font-size: 2rem;
}

/*============= FOOTER =============*/
footer{
  background: #383838;
  padding: 1rem 2rem 3rem;
}
footer img{
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p, footer a,
.socket a{
  color: #fff;
  text-decoration: none;
}
ul.social {
  list-style: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li{
  margin: 0 auto;
}
footer .svg-inline--fa{
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover{
  color: #68a0d2;
}

/*============= SOCKET =============*/
.socket{
  background: #222;
  border-top: .1rem solid #4981b3;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}